@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  background-image: url("img/bg.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .home-container {
    background-image: url("");
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}
